---
import BackToTop from '@components/ui/BackToTop.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<section
			data-testid="about"
			id="about"
			class="flex flex-col items-center justify-center lg:h-screen lg:flex-row"
		>
			<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
				<h2 class="font-monospace text-2xl text-secondary lg:text-4xl">About me</h2>
			</div>

			<div class="w-full text-justify text-secondary lg:w-1/2">
				<p class="mb-2">
                    I am Hermann, a passionate and highly skilled Software Engineer with a strong foundation in Computer Science.
                    With a Master's degree in Computer Science, I am committed to creating innovative software solutions that make a difference.
                    My journey in the world of technology has been marked by a relentless pursuit of excellence, a knack for problem-solving, 
                    and a deep love for coding.
				</p>
                <sub>
                    - ChatGPT
                </sub>
			</div>
		</section>
		<BackToTop />
	</main>
</Layout>
