---
import BackToTop from '@components/ui/BackToTop.astro';
import Layout from '@layouts/Layout.astro';
import ResumePdf from '@components/react/ResumePdf';
---

<Layout>
	<main>
		<section
			class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
		>
			<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
				<div>
					<h1 class="text-black mb-10 font-monospace text-3xl lg:text-5xl">
						Hi! My name is <span class="text-secondary">Hermann Elton</span> and I'm a software developer
						from Norway
					</h1>
				</div>
				<div class="mb-10"></div>
			</div>
		</section>
		<BackToTop />
	</main>
</Layout>
