---
import { fetchFromGraphQL, gql } from '@utils/index';
import type { TechnicalSkills } from 'types';
import BackToTop from '@components/ui/BackToTop.astro';
import CardListLayout from '@layouts/CardListLayout.astro';

const getSkillsByCategoryQuery = gql`
	query {
		groupByCategory
	}
`;

const res = await fetchFromGraphQL<{ groupByCategory: Map<string, Array<TechnicalSkills>> }>(
	getSkillsByCategoryQuery
);
const skills = res.data.groupByCategory;
---

<CardListLayout gap={16} title="Technical Skills">
	<Fragment slot="list">
		{
			Object.keys(skills).map((key) => (
				<div class="mb-10 flex flex-col items-start justify-start  pt-16 text-secondary lg:mb-0 lg:h-[60vh] lg:pt-0">
					<h1 class="mt-6 font-monospace text-2xl text-secondary lg:text-4xl">{key}</h1>
					<span class="mb-10 h-1 w-10 bg-secondary" />
					<div class="mb-10 flex flex-col items-start justify-start gap-16 pt-16 text-secondary lg:mb-0 lg:h-[60vh] lg:pt-0">
						{skills[key].map((skill) => (
							<h2 class="font-monospace text-xl text-secondary lg:text-2xl">{skill.skill}</h2>
						))}
					</div>
				</div>
			))
		}
	</Fragment>
	<BackToTop />
</CardListLayout>
