
.icon{
    color: black;
}
.header_container {
    gap: 10px

}
.header {
    font-size: 90px;
    color: white;

  }
.subHeader {
    font-size: 40px;
    color:white;
  }
@media only screen and (max-width: 900px) {
    .subHeader {
          font-size: 30px;
      }
    .header {
        font-size: 45px;

      }
}
