---
export interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<div class="mt-2 flex w-2/3 flex-row flex-wrap gap-2 lg:gap-6">
			{tags.map((tag) => (
				<span class="text-black inline-block rounded py-2 text-xs  lg:py-1">{tag}</span>
			))}
		</div>
	)
}
